{% extends "index.html" %}

{% block heading %}
    <h1>Search</h1>
{% endblock %}
{% block body %}
<form action="{{ url_for('count', action='results') }}" method="post" style="margin-left:10%;">
    <div>
        <p>{{message}}</p>
    </div>
    <div class="search-field">
        <label class="field-label">Count sqr of T</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
        <input type="number" name="temperature" class="form-control" placeholder="T">
        <input type="number" name="concentration" class="form-control" placeholder="n">
        <input type="text" name="type" class="form-control" placeholder="type">

    </div>
    <br>
    <div class="search-btn">
        <button type="submit" name="submit" value="count">Count</button>
    </div>
</form>
{% endblock %}
